<div class="container about_us mb-3">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <h2>About us</h2>
        <p>We are the oficial representatives of some international Vineyards of <b>South & North of America</b>. We love wines and love to help you to choose from these great wines</p>
        <br>
        <a routerLink="/home/newuser" class="btn btn-primary" role="button">Create your acount</a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-md-6">
        <img src="../../assets/img/cellar-logo.jpg" alt="martin" class="img-responsive img-circle">
      </div>
    </div>
  </div>
