<!-- <app-header></app-header> -->
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron background-wine">
    <div class="container">
      <h1>Mis Vinos</h1>
      <p>Your cellar e-commerce.</p>
      <p><a class="btn btn-primary btn-lg" routerLink="/home/labels" role="button">Learn more &raquo;</a></p>
    </div>
  </div>
  
  <app-winelabels></app-winelabels>
  
  <div class="winery-background">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6 winery-spot">
          <h2>Improve your sales</h2>
          <p><a class="btn btn-primary" routerLink="/home/labels" role="button">Learn more &raquo;</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-light pt-4">
    <app-about></app-about>
  </div>
  <div class="contact_us">
    <div class="container">
      <div class="row">
        <div class="col-xs-0 col-md-6">
          <app-map></app-map>
        </div>
        <div class="col-xs-12 col-md-6 form mb-6">
          <app-contactform></app-contactform>
        </div>      
      </div>
    </div>
  </div>
<!-- <app-footer></app-footer> -->