@import "~bootstrap-icons/font/bootstrap-icons.css";

td img.img-responsive{
    height: 100px;
    width: auto;
}
table {
    margin-top: 10px;
    margin-bottom: 10px;
}

.container{
    margin-bottom: 80px;
}